* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    margin: 0.5rem;
    font-family: 'Montserrat';
    text-align: center;
    background-color: black;
}
h3 {
    font-size: 3rem;
    font-family: 'Montserrat';
    color: aqua;

}
h1 {
    color: aqua;
}


nav {
    border: 2px solid black;
    border-radius: 2rem;
    margin: 2rem auto 2rem;
    max-width: 800px;
    /* font-size: 3rem; */
    line-height: 3rem;

}
#intro {
    padding: 0.25rem;
    border-radius: 2rem 2rem 0 0;
    background-color:chartreuse;
    font-size: 2rem;
    color: black;

}
#app {
    padding: 0.25rem;
    background: fuchsia;
    border-radius: 0;
    font-size: 2rem;

    
}
#entrees {
    padding: 0.25rem;
    background: yellow;
    border-radius: 0;
    font-size: 2rem;
}
#desserts {
    padding: 0.25rem;
    background: orangered;
    border-radius: 0 0 2rem 2rem;
    font-size: 2rem;
}
ul {
    list-style-type: none;
}
li {
    border-top: 1px solid black;
    
}
li a, li a:visited {
    text-decoration: none;
    color: white;

}
li a, li a:hover {
    background: black;
    color: white;
    cursor: pointer;

}
li a {
    display: block;
    color: white;

}
li:last-child a {
    border-radius: 0 0 2rem 2rem;

}
td {
    color:aqua;
    font-size: 30px;
}
#drinks {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}
#beverages {
    color: aqua;
    font-size: 2rem;
    text-decoration: underline;
}
#beer {
    margin: 20px;
}
#rainier {
    color:gold;
}
#wine {
    margin: 20px;
}
#coke {
    margin: 20px;
}
#closer {
    color: aqua;
}